@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

//variable overwrites

$primary: #40739e;
$success: #4cd137;
$warning: #fbc531;
$danger: #e84118;
$font-family-sans-serif: "Roboto", sans-serif !default;
//$headings-font-family: "Bahnschrift", "Heebo", "Arial", sans-serif;
//$input-btn-font-family: "Bahnschrift", "Heebo", "Arial", sans-serif;
$input-font-family: $font-family-sans-serif;

$bgBorderRadius: 20px;

$easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);

$transition-collapse: height 0.4s $easeOutCirc;

@import "../node_modules/bootstrap/scss/variables";
//custom

html, body {
  margin: 0;
  padding: 0;
  background-color: #353b48 !important;
}

div.pageWrap {
  position: relative;
}

div.mainWrap > div {
  z-index: 0;
}

div.mainWrap, div.headerBody, div.header:after, div.pageWrapBg {
  max-width: 720px;
}

div.pageWrapBg, div.header:after {
  content: "";
  position: absolute;
  background-color: #f5f6fa;
  border: 1px solid #dcdde1;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  mix-blend-mode: lighten;
}

div.pageWrapBg {
  top: 0;
  border-bottom-right-radius: $bgBorderRadius;
  border-bottom-left-radius: $bgBorderRadius;
  z-index: 0;
}

div.header:after {
  top: 1.5rem;
  height: calc(100% - 1.5rem);
  border-top-right-radius: $bgBorderRadius;
  border-top-left-radius: $bgBorderRadius;
  border-bottom: none;
  opacity: 0.75;
}

div.searchContainer {
}

div.searchContainer > input {
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.25rem;
}

div.searchContainer > input::placeholder {
  text-transform: none;
  font-weight: initial;
  letter-spacing: initial;
  color: $gray-500;
}

div.headerWrap {
  position: relative;
  z-index: 0;
}

div.header.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100% + 3rem);
  background-color: #40739e;
  background-image: url("https://products.ls.graphics/mesh-gradients/images/25.-Witch-Haze_1.jpg");
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

p.resultString {
  font-size: 3rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

div.resultIcon {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.resultIcon > svg {
  width: 100%;
  height: 100%;
}

p.iconText {
  font-size: 1.5rem;
}

//import Bootstrap 5 modules
//@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/bootstrap-utilities";